@model Lib.ViewModels.ApplicationCreateViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <div>
        @Html.AntiForgeryToken()

    <a class="list-group-item active">Voeg een nieuwe applicatie toe</a>
    <div class="list-group-item">
            @Html.DisplayNameFor(model => model.name) :
        @Html.TextBoxFor(model => model.name,
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.name)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.version) :
    @Html.TextBoxFor(model => model.version,
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.version)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.tblOperatingSystems_operatingSystemId) :
    @Html.DropDownListFor(model => model.tblOperatingSystems_operatingSystemId, new SelectList(Model.OperatingSystems, "operatingSystemId", "name"),
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.tblOperatingSystems_operatingSystemId)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.uniqueId) :
    @Html.TextBoxFor(model => model.uniqueId,
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.uniqueId)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.tblPhases_phaseId) :
    @Html.DropDownListFor(model => model.tblPhases_phaseId, new SelectList(Model.Phases, "phaseId", "name"),
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.tblPhases_phaseId)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.tblCustomers_customerId) :
    @Html.DropDownListFor(model => model.tblCustomers_customerId, new SelectList(Model.Customers, "customerId", "companyName"),
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.tblCustomers_customerId)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.repeatable) :
    @Html.CheckBoxFor(model => model.repeatable,
            new { @class = "checkbox checkbox-primary" }) @Html.ValidationMessageFor(model => model.repeatable)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.repeatVersion) :
    @Html.TextBoxFor(model => model.repeatVersion,
        new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.repeatVersion)
    </div>
    <div class="list-group-item">
        @Html.DisplayNameFor(model => model.url) :
        @Html.TextBoxFor(model => model.url,
    new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.url)
    </div>
    <br />
    <div class="form-group">
        <div>
            <input type="submit" value="Create" class="btn btn-default" />
            <input type="button" onclick="history.back();" value="Terug" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}