@model Dashboard.Models.tblApplications

@{
    ViewBag.Title = "Details";
}
<a class="list-group-item active">Details @Model.name</a>
<div class="list-group-item">@Html.DisplayNameFor(model => model.name) : @Html.DisplayFor(model => model.name)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.version) : @Html.DisplayFor(model => model.version)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.tblOperatingSystems.name) : @Html.DisplayFor(model => model.tblOperatingSystems.name)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.uniqueId) : @Html.DisplayFor(model => model.uniqueId)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.url) : @Html.DisplayFor(model => model.url)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.tblPhases.name) : @Html.DisplayFor(model => model.tblPhases.name)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.tblCustomers.companyName) : @Html.DisplayFor(model => model.tblCustomers.companyName)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.repeatable) : @Html.DisplayFor(model => model.repeatable)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.repeatVersion) : @Html.DisplayFor(model => model.repeatVersion)</div>

<a class="list-group-item active">Berichten van @Model.name <span style="float: right"><p id="newmessage" data-toggle="modal" data-target="#partial" class=" glyphicon glyphicon-plus hover"></p></span></a>
@foreach (var item in Model.tblMessages)
{
    <div class="list-group-item">Bericht : @item.message <span class="badge">@item.tblLanguageCodes.name</span></div>
}
@if (Model.tblMessages == null)
{
    <div class="list-group-item">Geen bericht gevonden</div>
}
<a class="list-group-item active">Crash report(s) van @Model.name </a>
@{
    bool record = false;
    foreach (var device in Model.tblDevices)
    {
        foreach (var report in device.tblCrashReports)
        {
             <div class="list-group-item">Device : @device.uniqueId | Report : @report.report </div>
            record = true;
        }
    }
<<<<<<< HEAD
    if (!record)
    {
        <div class="list-group-item">Geen crash reports gevonden</div>
    }
}

@Html.Partial("~/Views/Application/MessagePartial.cshtml", ViewData["partial"]);

<script>

   
</script>
    
=======
}
<br />
<div class="form-group">
    <div>
        <input type="button" onclick="history.back();" value="Terug" class="btn btn-default" />
    </div>
</div>
>>>>>>> origin/master
