@model Lib.Models.Customer

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Details";
}


<a class="list-group-item active">Klanten details @Model.companyName</a>

<div class="list-group-item">@Html.DisplayNameFor(model => model.companyName) : @Html.DisplayFor(model => model.companyName)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.contactPerson) : @Html.DisplayFor(model => model.contactPerson)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.email) : @Html.DisplayFor(model => model.email)</div>
<div class="list-group-item">@Html.DisplayNameFor(model => model.address) : @Html.DisplayFor(model => model.address)</div>


<a class="list-group-item active">Applicaties van @Model.companyName </a>
@foreach (var item in Model.tblApplications)
{
    @*<div class="list-group-item">Applicatie : @item.name <span class="badge">Apparaten @item.tblDevices.Count</span><span class="badge">V @item.version</span></div>*@

      <a href="../../Application/Details/@item.applicationId" class="list-group-item">Applicatie : @item.name <span class="badge">Apparaten 20 @*nu nog hard coded*@</span><span class="badge">V @item.version</span></a>
}

<br />

@using (Html.BeginForm("Delete", "Customer", new { id = @Model.customerId }, FormMethod.Post))
{
    <div class="form-group">

        <input type="button" data-toggle="modal" data-target="#myModal" value="Verwijder deze klant" class="btn btn-default" />
        <input type="button" onclick="history.back();" value="Terug" class="btn btn-default" />

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Verwijder deze klant</h4>
                    </div>
                    <div class="modal-body">
                        <p>Weet u zeker dat u deze klant wilt verwijderden?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Verwijder klant" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

</script>
