@model Lib.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")

<script src="/Scripts/jquery.bootpag.min.js"></script>

<div class="flex-container">

    <div class="flex-item">
        <a href="/Customer/Create" class="list-group-item active"><span style="float: right"><div class="glyphicon glyphicon-plus"></div></span> Klanten</a>

        @foreach (var item in Model.Customers)
        {
            @Html.ActionLink((String)item.companyName, "Details", "Customer", new { id = item.customerId }, new { @class = "list-group-item" });

        }
    </div>
    <div class="flex-item">
        <div class="app-list-group">
           <div class="list-group-item active" >
     
                   <a style="float: right" href="/Application/Create"><span style="color:white !important" class="glyphicon glyphicon-plus hover"></span></a>
                   Applicaties
                    </div>

                       @foreach (var item in Model.Applications)
                       {
                           <a href="/Application/Details/@item.applicationId" class="list-group-item itemapplicaton">@item.name <span class="badge">V @item.version</span></a>
                       }
                   </div>
                   @if (Model.ApplicationCount > 10)
                   {
                       <div class="col-md-12 text-center">
                           <div class="pagination" id="page-selection"></div>
                       </div>
                   }
               </div>
    <div class="flex-item">
        <a class="list-group-item active"><span class="badge"></span>Verdeling besturingssystemen  </a>
        <div id="piechart"></div>
    </div>
 
    <div class="flex-item">
        <a href="#" class="list-group-item" style="background-color:lightgreen">
            Onlangs toegevoegde apparaten
        </a>
        @foreach (var item in Model.Devices)
        {
            <a href="#" class="list-group-item">@item.operatingSystemVersion - @item.uniqueId <span class="badge">@item.tblApplications.name</span></a>
        }
        
    </div>
    <div class="flex-item">
        <a href="#" class="list-group-item" style="background-color:orange">
            Onlangs toegevoegde crash reports
        </a>
        @foreach (var item in Model.CrashReports)

        {
          <a href="#" class="list-group-item">@item.report</a>
        }
     
    </div>
    <div class="flex-item">
        <a href="#" class="list-group-item active">
            Populaire Applicaties :
        </a>
        @foreach (var item in Model.Popular)
        {
            <a href="../Application/Details/@item.applicationId" class="list-group-item">
                <span class="badge">@item.devices</span>@item.applicationName
            </a>
        }
    </div>
</div>

<script type="text/javascript">

    $('#page-selection').bootpag({
            total: @Model.pageNumersApplication,
            page: 1,
            maxVisible: 7
    }).on('page', function(event, num){
        $.get("/Application/GetNewSetOfApplications",  { pageNr: num}, function(response)
        {   
            $(".itemapplicaton").remove();
                $.each(response, function(index) {
                    var listitem = "<a href='/Application/Details/" + response[index].applicationId + "' class='list-group-item itemapplicaton'>" + response[index].name + " <span class='badge'>V " + response[index].version + "</span></a>";          
                    $(".app-list-group").append(listitem)
                });
            });
    });
    
    google.charts.load('current', { 'packages': ['corechart'] });
    var appData = [['OS', 'Counter']];

    function addDataToArray(OS, counter) {
        appData.push([OS, counter]);
    }
    @foreach (var app in Model.OSStatistics)
    {
        @:addDataToArray('@app.name', @app.counter);
    }
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable(appData);
        var options = {};
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
 
</script>